
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(168, 168, 164);
}
header {
  background-color: #194161;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
  position: relative;
}

header img {
    width: 120px; 
    border-radius: 35%; 
    margin-right: 20px;
}
header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

main {
  padding: 2rem;
}

h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 0.5rem;
}

footer {
  background-color: #194161
  color: #fff;
  text-align: center;
  padding: 1rem;
}